@import "style.css";

.nav-list a.home{
    color: #FF6B00;

}

.latest-post,.about-us{
    display: inline-block;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 10px;
}

.about-us{
    border-top:  3px solid #2B2C43;
    width: 100%;
}


.about-us-content h3{
        margin-top: 50px;
    
        color: #FF6B00;
        font-weight: 600;
        font-size: 32px;
        width:600px;

}

.about-us-content p{
    width:600px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    text-align: justify;
    float: left;
    
    }

#latest-post-image{
    border:2px solid rgb(70, 62, 62);
    padding: 1px;
    max-width:600px;
    float: right;
    height: 500px;
}

#latest-post-image-2{
    border:2px solid rgb(70, 62, 62);
    padding: 1px;
    max-width:600px;
    margin-left: 140px;
    margin-right:10px;
}

#about-us-image{
    margin-left: 20px;
    margin-right: 50px;
    float: right;
    border:2px solid rgb(70, 62, 62);
    max-width: 700px;
}

#about-us-img{
    border:2px solid rgb(70, 62, 62);
    padding: 1px;
    max-width:100px;
    float: right;
}

#latest-post-heading{
    color: #FF6B00;
    font-weight: 600;
    font-size: 32px;
    width:600px;
}
#latest-post-heading-2{
    color: #FF6B00;
    font-weight: 600;
    font-size: 32px;
    width:600px;
    margin-left: 140px;
    margin-right:10px;
}

#latest-post-content{
    width:600px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    text-align: justify;
    
    }

    #latest-post-content-2{
        width:600px;
        font-weight: 500;
        font-size: 20px;
        line-height: 21px;
        text-align: justify;
        margin-left: 140px;
        margin-right:10px;
        
        }

#author-2,#date-2{

    margin-left: 140px;
    margin-right:10px;
}




